body {
  font-family: 'Arial', 'Roboto', sans-serif !important;
  background: #f3f4f6;
  color: #111827;
}

ol,
ul {
  padding-left: 2rem !important;
}

body > ol {
  padding: 2rem;
  border: 1px solid #d1d5db;
  position: relative;

  &::before {
    content: attr(data-selector);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -9999;
    display: block;
    padding: 1rem;
    font-size: 2.2rem;
    line-height: 1;
    text-align: right;
    font-weight: bold;
    color: rgba(29, 78, 216, 0.4);
  }
}

// 1) Universal Selector
.universal-selector * {
  color: #b91c1c;
}

// 2) ID Selector
#id-selector {
  color: #b91c1c;
}

// 3) Class Selector
.class-selector {
  color: #b91c1c;
}

// 4) Context Selector
.context-selector li a {
  color: #b91c1c;
}
.context-selector ol li {
  color: #1d4ed8;
}

// 5) Tag Selector
.tag-selector a {
  color: #b91c1c;
}

// 6) List Selectors
.a-selectors a:link {
  color: #047857;
}

.a-selectors a:visited {
  color: #6d28d9;
}

// 7) Neighbour Selector
.neighbour-selector {
  li:first-of-type + li {
    color: #b91c1c;
  }

  li + ol,
  li + ul {
    color: #1d4ed8;
  }
}

// 8) Direct Descendant Selector
.direct-descendant-selector > li {
  color: #b91c1c;
}

// 9) Neighbours Selector
.neighbours-selector .start ~ li {
  color: #b91c1c;
}

// 10) Attribute Selector
.attribute-selector {
  a[title] {
    color: #b91c1c;
  }
  a[href] {
    color: #047857;
  }
}

// 11) Attribute Value Selector
.attribute-value-selector a[href='#'] {
  color: #b91c1c;
}

// 12) Attribute Contains Value Selector
.attribute-contains-value-selector a[href*='.com'] {
  color: #b91c1c;
}

// 13) Attribute Starts with Value Selector
.attribute-starts-with-value-selector a[href^='https://']
{
  color: #b91c1c;
}

// 14) Attribute Ends with Value Selector
.attribute-ends-with-value-selector a[href$='.jpg'] {
  color: #b91c1c;
}
.attribute-ends-with-value-selector a[href$='.png'] {
  color: #b91c1c;
}

// 15) Data Type Selector
.data-type-selector a[data-filetype='image'] {
  color: #b91c1c;
}

// 16) Data Type Split Selector
.data-type-split-selector {
  a[data-class~='red'] {
    color: #b91c1c;
  }
  a[data-class~='green'] {
    color: #047857;
  }
  a[data-class~='blue'] {
    color: #1d4ed8;
  }
  a[data-class~='bold'] {
    font-weight: bold;
  }
  a[data-class~='underline'] {
    text-decoration: underline;
  }
}

// 17) X:checked
.input-check-selector {
  input[type='checkbox']:checked,
  input[type='radio']:checked {
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #b91c1c;
    border-radius: 100%;
  }
}

// 18) X:after и X:before
.pseudoclass-selector li {
  position: relative;
  display: block;
  border: 1px dashed rgba(#333, 0.5);

  &::before,
  &::after {
    content: '';
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: -1rem;
    background-color: #b91c1c;
  }
  &::after {
    right: 2rem;
    background-color: #047857;
  }
}

// 19) X:hover
.hover-selector a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #b91c1c;
  }
}

// 20) X:not(selector)
.not-selector a:not([href='#']) {
  color: #b91c1c;
}

// 21) X::first-letter и X::first-list
.pseudoelement-selector li:first-letter {
  font-size: 16px;
  font-weight: bold;
  color: #b91c1c;
}

// 22) X:nth-child(n)
.nth-child-selector li:nth-child(2n + 1) {
  color: #b91c1c;
}
.nth-child-selector li:nth-child(2n) {
  text-decoration: underline;
}
.nth-child-selector > li:nth-child(2n) {
  font-weight: bold;
}

// 23) X:nth-last-child(n)
.nth-last-child-selector li:nth-last-child(1) {
  color: #b91c1c;
}
.nth-last-child-selector li:nth-last-child(2) {
  color: #1d4ed8;
}

// 24) X:nth-of-type(n)
.nth-of-type-selector ol:nth-of-type(2) li:nth-of-type(2) {
  color: #b91c1c;
}

// 25) X:nth-last-of-type(n)
.nth-last-of-type-selector ol:nth-last-of-type(1) li:nth-last-of-type(1) {
  color: #b91c1c;
}

// 26) X:first-child
.first-child-selector > ol li:first-child {
  color: #b91c1c;
}

// 27) X:last-child
.last-child-selector > ol li:last-child {
  color: #b91c1c;
}

// 28) X:only-child
.only-child-selector > ol li:only-child {
  color: #b91c1c;
}

// 29) X:only-of-type
.only-of-type-selector li:only-of-type {
  color: #b91c1c;
}
.only-of-type-selector ol li:only-of-type {
  color: #1d4ed8;
}

// 30) X:first-of-type
.first-of-type-selector li:first-of-type {
  color: #b91c1c;
}
.first-of-type-selector ol > li:first-of-type {
  text-decoration: underline;
}
