@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./_selectors.scss";

/* DEFAULT */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  @apply leading-none;
  @apply min-w-full min-h-full;
  @apply text-gray-900 dark:text-gray-50;
  @apply bg-gray-50 dark:bg-gray-900;
}

/* HEADER */
.header {
  @apply sticky top-0 left-0 right-0;
  @apply px-4 py-8;
  @apply flex flex-col items-center gap-y-2;
  @apply md:flex-row md:justify-between md:gap-y-0;
  @apply bg-gray-50 dark:bg-gray-900;
  @apply border-b border-gray-200 dark:border-gray-700;

  .logo {
    @apply cursor-pointer transition;
    @apply text-xl font-bold no-underline;
    @apply hover:text-blue-500;
  }

  .nav {
    &-menu {
      @apply list-none;
      @apply flex items-center gap-x-6;
    }
    &-link {
      @apply cursor-pointer transition;
      @apply fill-current no-underline outline-none;
      @apply hover:text-blue-500;
    }
  }
}

/* SIDEBAR */
.sidebar {
  @apply hidden;
  @apply w-full md:w-3/4 xl:w-2/3 2xl:w-1/2 p-2;
  @apply bg-gray-50 dark:bg-gray-900;
  @apply border-l border-gray-200 dark:border-gray-700;
  @apply fixed bottom-0 right-0 z-50;
  @apply overflow-y-auto overscroll-y-contain;
  height: calc(100% - 128px);

  @media screen(md) {
    height: calc(100% - 93px);
  }

  .nav {
    @apply leading-normal;

    &-menu {
      @apply list-none;
      @apply flex flex-col divide-y divide-gray-200 dark:divide-gray-700;
    }
    &-link {
      @apply cursor-pointer transition;
      @apply inline-block px-2 py-4;
      @apply fill-current no-underline;
      @apply hover:text-blue-500;
    }
  }

  &-active {
    @apply block;
  }
}

/* GO TO */
#go-to {
  @apply fixed bottom-6 right-6;

  svg {
    @apply fill-current hover:text-blue-500;
    @apply w-10 h-10;
  }
}

/* MAIN */
.main {
  @apply p-4;
  @apply grid grid-cols-1 gap-y-4;

  article {
    @apply grid grid-cols-1 gap-y-4;

    h2 {
      @apply font-bold text-xl;
      &::before {
        content: "# ";
      }
    }

    div {
      @apply grid grid-cols-1 xl:grid-cols-3 gap-2;
    }

    section {
      @apply flex flex-col;
      & > pre,
      & > ol {
        @apply flex-grow;
      }
      & > pre code {
        @apply min-h-full;
      }

      h3 {
        @apply p-2 text-gray-900 bg-yellow-400;
        @apply text-sm font-bold;
      }

      ol,
      ul {
        @apply p-4;
      }
    }
  }
}
